<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Authentication Type:</strong>
  <%= @user.auth_type %>
</p>
<%= link_to 'Back', users_path %>